<div class="flex bg-black h-full text-white items-center flex-col mr-12">
    
    <!-- search -->
    <div class="relative">
        <input placeholder="Search on Twitter" type="text"
            class=" bg-neutral-900 text-white w-full 
            flex text-start
            rounded-2xl my-6 h-12 mr-8 py-2 px-10
            focus:outline-none focus:shadow-outline resize-none overflow-hidden appearance-none"/>
            <div class="absolute top-0 right-0 mt-9 mr-3">
              <svg
                class="fill-current text-gray-500 w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M23.71 22.29l-5.5-5.5a9.92 9.92 0 0 0 1.79-5.54c0-5.52-4.48-10-10-10S0 5.23 0 10s4.48 10 10 10c2.18 0 4.18-.7 5.8-1.88l5.5 5.5a1 1 0 0 0 1.42 0l.98-.98a1 1 0 0 0 0-1.42zM10 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
                />
              </svg>
            </div>
    </div>

    <div class="bg-neutral-900 text-gray-200
    flex flex-col text-center
    rounded-2xl w-10/12 h-full">

        <!-- Title -->
        <div class=" flex-grow hover:bg-neutral-800 rounded-tl-2xl pl-6 rounded-tr-2xl flex items-center justify-start font-sans text-lg font-bold">
          <p>What is Happening</p>
        </div>

        <!-- notice -->
        <div class="flex-grow hover:bg-neutral-800 text-start pl-6 pt-2">
          <a href="https://web.dio.me/" class="text-gray-400">DIO</a>
          <p>Digital Inovation One</p>
          <p class="text-gray-400">web.dio.me</p>
        </div>
        <div class="flex-grow hover:bg-neutral-800 text-start pl-6 pt-2">
            <a href="https://web.dio.me/" class="text-gray-400">DIO</a>
            <p>Potência Tech Angular Developer - Powered by iFood</p>
            <p class="text-gray-400">web.dio.me</p>
          </div>
        <div class="flex-grow hover:bg-neutral-800 text-start pl-6 pt-2 rounded-bl-2xl rounded-br-2xl">
          <a href="https://web.dio.me/" class="text-gray-400">DIO</a>
          <p>Ifood Dev Week</p>
          <p class="text-gray-400">web.dio.me</p>
        </div>
      </div>
      
      
      <div class="bg-neutral-900 text-gray-200
        flex flex-col text-center
        rounded-2xl w-10/12 mt-10 mb-10 h-full">
        <div class="flex-grow hover:bg-neutral-800 rounded-tl-2xl pl-6 rounded-tr-2xl
          flex items-center justify-start font-sans text-lg font-bold">
          <p>Who to Follow</p>
        </div>
        <div class="flex-grow hover:bg-neutral-800 items-center">
          <div class="flex items-center pt-4">
            <div class="bg-gray-800 
              flex items-center justify-center
              rounded-full w-12 h-12 mx-4
              cursor-pointer">
              <svg class="h-8 w-8 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
              </svg>
            </div>
            <div>
              <p class="font-bold">Ifood</p>
              <p class="text-gray-400">@Ifood</p>
            </div>
            <div class=" font-bold flex items-center justify-center ml-14 text-black bg-white rounded-full w-20 h-8">
              <button>Follow</button>
            </div>
          </div>  
        </div>
        <div class="flex-grow hover:bg-neutral-800">
          <div class="flex items-center pt-4">
            <div class="bg-gray-800 
              flex items-center justify-center
              rounded-full w-12 h-12 mx-4
              cursor-pointer">
              <svg class="h-8 w-8 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
              </svg>
            </div>
            <div>
              <p class="font-bold">Ifood</p>
              <p class="text-gray-400">@Ifood</p>
            </div>
            <div class=" font-bold flex items-center justify-center ml-14 text-black bg-white rounded-full w-20 h-8">
              <button>Follow</button>
            </div>
          </div>  
        </div>
        <div class="flex-grow hover:bg-neutral-800">
          <div class="flex items-center pt-4">
            <div class="bg-gray-800 
              flex items-center justify-center
              rounded-full w-12 h-12 mx-4
              cursor-pointer">
              <svg class="h-8 w-8 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
              </svg>
            </div>
            <div>
              <p class="font-bold">Ifood</p>
              <p class="text-gray-400">@Ifood</p>
            </div>
            <div class=" font-bold flex items-center justify-center ml-14 text-black bg-white rounded-full w-20 h-8">
              <button>Follow</button>
            </div>
          </div>  
        </div>
        <div class="flex-grow hover:bg-neutral-800 rounded-bl-2xl rounded-br-2xl text-blue-400">
          <p class="mt-3 cursor-pointer">More...</p>
        </div>
      </div>
</div>